.main {
    flex : 1;
    min-height: 100vh;
    position: relative;
}

.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    padding-bottom: 5px;
    color: #585858
}

.main .nav img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.main-container {
    max-width: 850px;
    margin: auto;
}

.main .greet {
    margin: 50px 0px;
    font-size: 40px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 10px 20px;
    padding-bottom: 5px;
}

.main .greet span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    gap: 15px;
    padding: 25px;
}


.main .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    padding: 12px;
    background-color: #f0f4f9;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main .card img {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    align-self: flex-end;
}

.main .card:hover {
    background-color: #dfe4ea;
}

.main .card p {
    color: #585858;
    font-size: 15px;
}

.main-bottom {
    margin-bottom: 0;
    margin-top: auto;
    width: 100%;
    padding: 20px;
    padding-top: 36px;
    padding-bottom: 0px;
    box-sizing: border-box;
    text-align: center;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    background-color: #f0f4f9;
    padding: 10px 15px;
    border-radius: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-box img {
    width: 24px;
    cursor: pointer;
}

.search-box input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
}

.search-box div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main .bottom-info {
    font-size: 12px;
    margin: 15px auto;
    text-align: center;
    color: #666;
    font-weight: 300;
    line-height: 1.4;
}

.result {
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll
}

.result::-webkit-scrollbar {
    display: none;
}

.result-title {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result img {
    width: 40px;
    border-radius: 50%;
}

.result-data {
    display: flex;
    align-items: start;
    gap: 20px;
}


.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr {
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #9ed7ff,#ffffff,#9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 1s infinite linear;
}

@keyframes loader {
    0% {
        background-position: -800px 0px;
    }
    100% {
        background-position: 800px 0px;
    }
}

.result-data p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}